<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin-layout">
<head>
    <meta charset="UTF-8"/>
    <title>Add User</title>
</head>
<body>

<div layout:fragment="content">
    <div class="col s12 m12 l6">
        <div class="card">
            <div class="card-content">
                <span class="card-title" th:text="#{addDataUser}"></span><br>
                <div class="row">
                    <form class="col s12" th:object="${USERS}"
                          th:action="${saveStatus}==true? @{/user-save} : @{/user-update}" th:method="POST">

                        <div class="row">
                            <div class="input-field col s6" style="visibility: hidden">
                                <input th:field="*{uuid}" type="text" class="validate">
                            </div>

                        </div>


                        <div class="row">
                            <div class="input-field col s6">
                                <input th:field="*{username}" type="text" class="validate">
                                <label th:text="#{username}"></label>
                            </div>
                            <div class="input-field col s6">
                                <input th:field="*{email}" type="email" class="validate">
                                <label th:text="#{email}"></label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s6">
                                <input th:field="*{status}" type="text" class="validate">
                                <label th:text="#{status}"></label>
                            </div>
                            <div class="input-field col s6">
                                <select th:field="*{gender}">
                                    <option th:value="M" th:text="#{male}"></option>
                                    <option th:value="F" th:text="#{female}"></option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <input th:type="submit" class="btn btn-primary" th:value="#{submit}">
                                <input th:type="reset" class="btn btn-warning" th:value="#{reset}">

                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>