<div class="loader-bg"></div>
<div class="loader">
    <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
        <div class="spinner-layer spinner-spinner-teal lighten-1">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
        <div class="spinner-layer spinner-yellow">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
        <div class="spinner-layer spinner-green">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>
<header class="mn-header navbar-fixed">
    <nav class="cyan darken-1">
        <div class="nav-wrapper row">
            <section class="material-design-hamburger navigation-toggle">
                <a href="javascript:void(0)" data-activates="slide-out"
                   class="button-collapse show-on-large material-design-hamburger__icon">
                    <span class="material-design-hamburger__layer"></span>
                </a>
            </section>
            <div class="header-title col s3 m3">
                <span class="chapter-title">HRD Spring</span>
            </div>
            <form class="left search col s6 hide-on-small-and-down">
                <div class="input-field">
                    <input id="search" type="search" placeholder="Search" autocomplete="off">
                    <label for="search"><i class="material-icons search-icon">search</i></label>
                </div>
                <a href="javascript: void(0)" class="close-search"><i class="material-icons">close</i></a>
            </form>

            <!-- Flag For Language Change Start -->

            <ul class="right col s9 m3 nav-right-menu">

                <li class="hide-on-small-and-down"><a th:href="@{?lang=kh}"><img
                        th:src="@{/resources/assets/images/kh.png}" class="circle" alt=""></a></li>
                <li class="hide-on-small-and-down"><a th:href="@{?lang=en}"><img
                        th:src="@{/resources/assets/images/gb.png}" class="circle" alt=""></a></li>

            </ul>

            <!-- Flag For Language Change End -->


        </div>
    </nav>
</header>

<div class="search-results">
    <div class="container search-container">
        <div class="row">
            <div class="col s12 search-head">
                <div class="row">
                    <div class="col s12">
                        <div class="left">
                            <p class="search-results-title">Quick search results</p>
                            <p class="search-filter left">
                                <input type="checkbox" class="filled-in" id="filled-in-box" checked/>
                                <label for="filled-in-box">Google search</label>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="res-not-found">No results found</div>
            </div>
            <div class="col s12 m4 search-result-container">
                <div class="card card-transparent">
                    <div class="row valign-wrapper">
                        <div class="col s3">
                            <img th:src="@{/resources/static/assets/images/profile-image-1.png}" alt=""
                                 class="circle responsive-img z-depth-1">
                        </div>
                        <div class="col s9">
                                        <span class="search-result-text">
                                            Search <span class="search-text search-result-highlight"></span><br><span
                                                class="secondary-search-text">Last active 2 days ago</span>
                                        </span>
                        </div>
                    </div>
                </div>
                <div class="card card-transparent">
                    <div class="row valign-wrapper">
                        <div class="col s3">
                            <img th:src="@{/resources/static/assets/images/profile-image-3.jpg}" alt=""
                                 class="circle responsive-img z-depth-1">
                        </div>
                        <div class="col s9">
                                        <span class="search-result-text">
                                            News about <span
                                                class="search-text search-result-highlight"></span><br><span
                                                class="secondary-search-text">23 Blogs</span>
                                        </span>
                        </div>
                    </div>
                </div>
                <div class="card card-transparent">
                    <div class="row valign-wrapper">
                        <div class="col s3">
                            <img src="assets/images/profile-image.png" alt="" class="circle responsive-img z-depth-1">
                        </div>
                        <div class="col s9">
                                        <span class="search-result-text">
                                            Tom King (Works at <span class="search-text search-result-highlight"></span>)<br><span
                                                class="secondary-search-text">Avaible for freelance work</span>
                                        </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 search-result-container">
                <div class="card card-transparent ">
                    <div class="row valign-wrapper">
                        <div class="col s3">
                            <span class="z-depth-1 circle search-circle indigo lighten-1">F</span>
                        </div>
                        <div class="col s9">
                                        <span class="search-result-text">
                                            <span class="search-text search-result-highlight"></span> on Facebook<br><span
                                                class="secondary-search-text"><a href="#">View website</a></span>
                                        </span>
                        </div>
                    </div>
                </div>
                <div class="card card-transparent">
                    <div class="row valign-wrapper">
                        <div class="col s3">
                            <span class="z-depth-1 circle search-circle light-blue lighten-1">T</span>
                        </div>
                        <div class="col s9">
                                        <span class="search-result-text">
                                            <span class="search-text search-result-highlight"></span> on Twitter<br><span
                                                class="secondary-search-text"><a href="#">View website</a></span>
                                        </span>
                        </div>
                    </div>
                </div>
                <div class="card card-transparent">
                    <div class="row valign-wrapper">
                        <div class="col s3">
                            <span class="z-depth-1 circle search-circle red darken-1">G</span>
                        </div>
                        <div class="col s9">
                                        <span class="search-result-text">
                                            Google+ <span class="search-text search-result-highlight"></span><br><span
                                                class="secondary-search-text"><a href="#">View website</a></span>
                                        </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 search-result-container">
                <div class="card card-transparent">
                    <div class="card-content first">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sunt in culpa qui<span
                                class="search-text search-result-highlight"></span> quis.</p>
                    </div>
                    <div class="card-action">
                        <span class="grey-text">Yesterday, 4:56 PM</span>
                    </div>
                </div>
                <div class="card card-transparent">
                    <div class="card-content">
                        <p>Sunt in culpa qui <span class="search-text search-result-highlight"></span> officia deserunt
                            mollit anim id est laborum. officia deserunt mollit anim id est laborum officia deserunt
                            mollit anim</p>
                    </div>
                    <div class="card-action">
                        <span class="grey-text">27 January 2016</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



