<!-- Javascripts -->
<script th:src="@{/resources/assets/plugins/jquery/jquery-2.2.0.min.js}"></script>
<script th:src="@{/resources/assets/plugins/materialize/js/materialize.min.js}"></script>
<script th:src="@{/resources/assets/plugins/material-preloader/js/materialPreloader.min.js}"></script>
<script th:src="@{/resources/assets/plugins/jquery-blockui/jquery.blockui.js}"></script>
<script th:src="@{/resources/assets/plugins/waypoints/jquery.waypoints.min.js}"></script>
<script th:src="@{/resources/assets/plugins/counter-up-master/jquery.counterup.min.js}"></script>
<script th:src="@{/resources/assets/plugins/jquery-sparkline/jquery.sparkline.min.js}"></script>
<script th:src="@{/resources/assets/plugins/chart.js/chart.min.js}"></script>
<script th:src="@{/resources/assets/plugins/flot/jquery.flot.min.js}"></script>
<script th:src="@{/resources/assets/plugins/flot/jquery.flot.time.min.js}"></script>
<script th:src="@{/resources/assets/plugins/flot/jquery.flot.symbol.min.js}"></script>
<script th:src="@{/resources/assets/plugins/flot/jquery.flot.resize.min.js}"></script>
<script th:src="@{/resources/assets/plugins/flot/jquery.flot.tooltip.min.js}"></script>
<script th:src="@{/resources/assets/plugins/curvedlines/curvedLines.js}"></script>
<script th:src="@{/resources/assets/plugins/peity/jquery.peity.min.js}"></script>
<script th:src="@{/resources/assets/js/alpha.min.js}"></script>
<script th:src="@{/resources/assets/js/pages/dashboard.js}"></script>


