<!-- Styles -->
<link type="text/css" rel="stylesheet"
      th:href="@{/resources/assets/plugins/materialize/css/materialize.min.css}"/>
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link th:href="@{/resources/assets/plugins/metrojs/MetroJs.min.css}" rel="stylesheet">
<link th:href="@{/resources/assets/plugins/weather-icons-master/css/weather-icons.min.css}" rel="stylesheet">


<!-- Theme Styles -->
<link th:href="@{/resources/assets/css/alpha.min.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/resources/assets/css/custom.css}" rel="stylesheet" type="text/css"/>